<template>
  <div>
    <products-selections :products="products.items"></products-selections>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import ProductsSelections from "../components/products-selections/index.vue";

export default {
  name: "Home",

  metaInfo: {
    title: "Lepae Test",
    meta: [{ name: "description", content: "Home page description" }],
  },

  components: {
    ProductsSelections,
  },

  computed: {
    ...mapGetters({
      products: "products",
    }),
  },

  // Server-side only
  // This will be called by the server renderer automatically
  serverPrefetch() {
    // return the Promise from the action
    // so that the component waits before rendering
    return this.getProducts();
  },

  // Client-side only
  mounted() {
    // If we didn't already do it on the server, we fetch the users
    if (!this.products.length) {
      this.getProducts();
    }
  },

  methods: {
    getProducts() {
      return this.$store.dispatch("getProducts");
    },
  },
};
</script>
