<template>
  <div>
    <div class="product-area mt-15">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 product-bg">
            <div class="block-title">
              <h2>Page Entreprise</h2>
            </div>
            <div
              class="product-thing slick-custom slick-custom-default container"
            >
              <h4>
                Route : {{ $route.path }} is a static route ==> we can use it
                for static pages
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Entreprise",

  metaInfo: {
    title: "Vue SSR Simple Setup About",
    meta: [{ name: "description", content: "Entreprise page description" }],
  },
};
</script>
