<template>
  <div>
    <div class="product-area mt-15">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 product-bg">
            <div class="block-title">
              <h2>Product Page</h2>
            </div>
            <div
              class="product-thing slick-custom slick-custom-default container"
            >
              <h4>Current route : {{ $route.path }}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",

  metaInfo: {
    title: "Product Page",
    meta: [{ name: "description", content: "Product page description" }],
  },
};
</script>
