<template>
  <div>
    <footer>
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-md-3 col-xs-12">
                  <div class="widgets_container">
                    <h6>DÉCOUVREZ NOS MAGASINS</h6>
                    <div class="box-footer">
                      <div class="sub-title"><strong>LEPAPE</strong> STORE</div>
                      <ul>
                        <li>
                          <span class="city"
                            ><strong>LEPAPE</strong> STORE PARIS</span
                          >
                          <span class="street">Champs-élysées</span>
                          <a href="#?">En savoir plus</a>
                        </li>
                        <li>
                          <span class="city"
                            ><strong>LEPAPE</strong> STORE Lyon</span
                          >
                          <span class="street">république</span>
                          <a href="#?">En savoir plus</a>
                        </li>
                      </ul>
                    </div>
                    <div class="box-footer">
                      <div class="sub-title">
                        <strong>EN SELLE MARCEL</strong> PARIS
                      </div>
                      <ul>
                        <li>
                          <span class="street"
                            >vélos urbains, vélos pliants <br />vélos tout
                            chemin, VAE</span
                          >
                          <a class="sub-title" href="#?">Voir les magasins</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="widgets_container">
                    <h6>RESTONS EN CONTACT</h6>
                    <div class="box-footer">
                      <div class="sub-title">NEWSLETTER</div>
                      <p>
                        Abonnez-vous à notre newsletter pour RECEVOIR nos
                        sélections personnalisées, nouveautés, promotions et
                        conseils
                      </p>
                      <div class="newsletter-box">
                        <form id="mc-form" class="mc-form">
                          <p class="adress">Votre adresse email</p>
                          <input
                            type="email"
                            id="mail"
                            class="email-box"
                            placeholder="Email..."
                            name="mail"
                          />
                          <div class="form-check">
                            <div
                              class="custom-checkbox"
                              role="checkbox"
                              aria-checked="false"
                            >
                              <input
                                class="form-check-input"
                                type="checkbox"
                                id="news"
                              />
                              <span class="checkmark"></span>
                              <label class="form-check-label" for="news">
                                Je souhaite recevoir la newsletter de Lepape par
                                e-mail. Pour plus d'informations, consulter
                                notre
                                <a
                                  href="#?"
                                  title="Politique de confidentialité"
                                >
                                  Politique de confidentialité</a
                                >
                              </label>
                            </div>
                          </div>
                          <button
                            id="mc-submit"
                            class="newsletter-btn"
                            type="submit"
                          >
                            Je m'abonne
                          </button>
                        </form>
                      </div>
                      <div class="sub-title">SUR LES RÉSEAUX SOCIAUX</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="widgets_container">
                    <h6>PROFITEZ DE NOS SERVICES</h6>
                    <div class="footer_menu">
                      <ul>
                        <li>
                          <a href="#"
                            >Livraison 24/48h offerte dès 90€ d'achat</a
                          >
                        </li>
                        <li>
                          <a href="#"
                            >Paiement CB sécurisé en 2,3,4 x sans frais</a
                          >
                        </li>
                        <li><a href="#">Echanges rapides et gratuits</a></li>
                        <li><a href="#">Conditions générales de vente</a></li>
                        <li>
                          <a href="#">Nos codes promo et avantages fidélité</a>
                        </li>
                        <li>
                          <a href="#">Déstockage - plus de 40% de remise</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12">
                  <div class="widgets_container space-l">
                    <h6>DÉCOUVRIR</h6>
                    <div class="footer_menu">
                      <ul>
                        <li>
                          <a
                            ><router-link to="/entreprise"
                              >L'entreprise</router-link
                            ></a
                          >
                        </li>
                        <li><a href="#">LEPAPE PRO</a></li>
                        <li><a href="#">Nos offres d'emploi</a></li>
                        <li><a href="#">Partenaires</a></li>
                        <li><a href="#">Programme d'affiliation</a></li>
                        <li><a href="#">Conseils triathlon</a></li>
                        <li><a href="#">Conseils home trainers</a></li>
                        <li><a href="#">Idées cadeaux Vélo</a></li>
                        <li><a href="#">Black Friday</a></li>
                        <li><a href="#">Soldes Running & Trail</a></li>
                        <li><a href="#">Soldes Vélo</a></li>
                        <li><a href="#">Jeux concours</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class=" col-xs-12">
              <div class="footer-bottom-content">
                <div class="footer-copyright text-center">
                  <p>
                    © Copyright LEPAPE 1996-2020 | 39, rue d´Artois - 75008
                    Paris<br />
                    Tel. : 01 53 75 00 00 | info@lepape.com 439 656 976 R.C.S.
                    Paris Au capital de 104 246.20 € N° TVA intracommunautaire :
                    FR54439656976
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
